$image-size: 42px
$image-size-large: 84px
$col-padding: 10px

html, body
  height: 100%

.leaderboard
  min-height: 100%

.logo
  font-size: 6em

.player
  cursor: pointer
  display: flex
  align-items: center
  justify-content: space-between
  padding: $col-padding
  &:hover
    background-color: #fafafa
  .bio
    display: flex
    align-items: center
    width: 300px
    flex: 0 0 300px
  .image
    width: $image-size
    height: $image-size
    margin-right: 20px
    background-size: cover
    box-shadow: inset 0 0 0 1px rgba(black, 0.05)
    overflow: hidden
    @media (min-width: 718px) and (min-height: 718px)
      width: $image-size-large
      height: $image-size-large
  &.ty
    .image
      background-image: url(../images/ty.jpg)
  &.dave
    .image
      background-image: url(../images/dave.jpg)
  &.nate
    .image
      background-image: url(../images/nate.jpg)
  &.jimmy
    .image
      background-image: url(../images/jimmy.jpg)
  &.michelle
    .image
      background-image: url(../images/michelle.jpg)
  &.justin
    .image
      background-image: url(../images/justin.jpg)
  &.aaron
    .image
      background-image: url(../images/aaron.jpg)
  &.chris
    .image
      background-image: url(../images/chris.jpg)
  &.jaclyn
    .image
      background-image: url(../images/jaclyn.jpg)
  &.catherine
    .image
      background-image: url(../images/catherine.jpg)
  &.jacob
    .image
      background-image: url(../images/jacob.jpg)
  &.ghassan
    .image
      background-image: url(../images/ghassan.jpg)
  .graph
    flex-grow: 1
    svg
      width: 100%
      height: auto
  .scores
    width: 100px
    flex: 0 0 100px
    text-align: right
    span
      opacity: 0.3


.scorecard
  background-color: rgba(#5cb8e6, 0.95)
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  z-index: 1
  transform: translate3d(0,100%,0)
  transition: 0.25s all ease-in-out
  .image
    display: inline-block
    width: $image-size
    height: $image-size
    background-size: cover
    @media (min-width: 718px) and (min-height: 718px)
      width: $image-size-large
      height: $image-size-large
  .scorecard-active &
    transform: translate3d(0,0,0)
  .button
    display: inline-block
    margin: $col-padding

