/* line 9, ../../sass/dangersword.sass */
html, body {
  height: 100%;
}

/* line 12, ../../sass/dangersword.sass */
body {
  -webkit-transition: 0.25s all ease-in-out;
          transition: 0.25s all ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
/* line 15, ../../sass/dangersword.sass */
body.scorecard-active {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
@media (min-width: 718px) {
  /* line 15, ../../sass/dangersword.sass */
  body.scorecard-active {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

/* line 20, ../../sass/dangersword.sass */
section {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 20px;
}
@media (min-width: 1024px) {
  /* line 20, ../../sass/dangersword.sass */
  section {
    padding: 0 50px;
  }
}

/* line 28, ../../sass/dangersword.sass */
.content {
  width: 100%;
}

/* line 31, ../../sass/dangersword.sass */
.leaderboard {
  min-height: 100%;
}

/* line 34, ../../sass/dangersword.sass */
.logo {
  font-size: 6em;
}

/* line 37, ../../sass/dangersword.sass */
.player {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: white;
  -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear;
}
/* line 45, ../../sass/dangersword.sass */
.player:hover {
  background-color: #fafafa;
}
/* line 47, ../../sass/dangersword.sass */
.player .bio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 718px) {
  /* line 47, ../../sass/dangersword.sass */
  .player .bio {
    width: 245px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 245px;
        -ms-flex: 0 0 245px;
            flex: 0 0 245px;
  }
}
/* line 53, ../../sass/dangersword.sass */
.player .image {
  width: 42px;
  height: 42px;
  margin-right: 20px;
  background-size: cover;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  border-radius: 50%;
}
@media (min-width: 718px) and (min-height: 718px) {
  /* line 53, ../../sass/dangersword.sass */
  .player .image {
    width: 100px;
    height: 100px;
  }
}
/* line 65, ../../sass/dangersword.sass */
.player.ty .image {
  background-image: url(../images/ty.jpg);
}
/* line 68, ../../sass/dangersword.sass */
.player.dave .image {
  background-image: url(../images/dave.jpg);
}
/* line 71, ../../sass/dangersword.sass */
.player.nate .image {
  background-image: url(../images/nate.jpg);
}
/* line 74, ../../sass/dangersword.sass */
.player.jimmy .image {
  background-image: url(../images/jimmy.jpg);
}
/* line 77, ../../sass/dangersword.sass */
.player.michelle .image {
  background-image: url(../images/michelle.jpg);
}
/* line 80, ../../sass/dangersword.sass */
.player.justin .image {
  background-image: url(../images/justin.jpg);
}
/* line 83, ../../sass/dangersword.sass */
.player.aaron .image {
  background-image: url(../images/aaron.jpg);
}
/* line 86, ../../sass/dangersword.sass */
.player.chris .image {
  background-image: url(../images/chris.jpg);
}
/* line 89, ../../sass/dangersword.sass */
.player.jaclyn .image {
  background-image: url(../images/jaclyn.jpg);
}
/* line 92, ../../sass/dangersword.sass */
.player.catherine .image {
  background-image: url(../images/catherine.jpg);
}
/* line 95, ../../sass/dangersword.sass */
.player.jacob .image {
  background-image: url(../images/jacob.jpg);
}
/* line 98, ../../sass/dangersword.sass */
.player.ghassan .image {
  background-image: url(../images/ghassan.jpg);
}
/* line 101, ../../sass/dangersword.sass */
.player.salih .image {
  background-image: url(../images/salih.jpg);
}
/* line 104, ../../sass/dangersword.sass */
.player.zach .image {
  background-image: url(../images/zach.jpg);
}
/* line 106, ../../sass/dangersword.sass */
.player .graph {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  display: none;
}
@media (min-width: 718px) and (min-height: 718px) {
  /* line 106, ../../sass/dangersword.sass */
  .player .graph {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
/* line 115, ../../sass/dangersword.sass */
.player .graph .bar {
  height: 100px;
  background-color: #2996cc;
  margin: 0 10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 25px;
  border-radius: 2px 2px 0 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-animation: animateBars 8s ease-in-out infinite;
          animation: animateBars 8s ease-in-out infinite;
}
/* line 124, ../../sass/dangersword.sass */
.player .graph .bar:nth-child(1n+8) {
  display: none;
}
@media (min-width: 1024px) {
  /* line 124, ../../sass/dangersword.sass */
  .player .graph .bar:nth-child(1n+8) {
    display: block;
  }
}
@media (min-width: 718px) {
  /* line 128, ../../sass/dangersword.sass */
  .player .scores {
    width: 150px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 150px;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }
}
/* line 132, ../../sass/dangersword.sass */
.player .score {
  text-align: right;
}
/* line 134, ../../sass/dangersword.sass */
.player .score span {
  opacity: 0.3;
}

/* line 137, ../../sass/dangersword.sass */
.scorecard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: 0.25s all ease-in-out;
          transition: 0.25s all ease-in-out;
}
@media (min-width: 718px) {
  /* line 137, ../../sass/dangersword.sass */
  .scorecard {
    width: 50%;
  }
}
/* line 148, ../../sass/dangersword.sass */
.scorecard .button {
  width: 100%;
  min-width: 0;
}
/* line 151, ../../sass/dangersword.sass */
.scorecard .col {
  margin-bottom: 20px;
}
/* line 153, ../../sass/dangersword.sass */
.scorecard .col:nth-child(1n+5) {
  margin-bottom: 0;
}
/* line 155, ../../sass/dangersword.sass */
.scorecard .image {
  display: inline-block;
  width: 100px;
  height: 100px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.09);
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
}
/* line 164, ../../sass/dangersword.sass */
.scorecard .recent-scores .score {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear;
}
/* line 169, ../../sass/dangersword.sass */
.scorecard .recent-scores .score .delete {
  display: none;
  color: red;
  cursor: pointer;
}
/* line 173, ../../sass/dangersword.sass */
.scorecard .recent-scores .score:hover {
  background-color: white;
}
/* line 175, ../../sass/dangersword.sass */
.scorecard .recent-scores .score:hover .delete {
  display: block;
}

@-webkit-keyframes animatePath {
  0% {
    stroke-dashoffset: -1300px;
  }
  25% {
    stroke-dashoffset: 0;
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1300px;
  }
}

@keyframes animatePath {
  0% {
    stroke-dashoffset: -1300px;
  }
  25% {
    stroke-dashoffset: 0;
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1300px;
  }
}
@-webkit-keyframes animateBars {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  4% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  94% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes animateBars {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  4% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  94% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
