/* line 5, ../../sass/dangersword.sass */
html, body {
  height: 100%;
}

/* line 8, ../../sass/dangersword.sass */
.leaderboard {
  min-height: 100%;
}

/* line 11, ../../sass/dangersword.sass */
.player {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
/* line 16, ../../sass/dangersword.sass */
.player > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/* line 18, ../../sass/dangersword.sass */
.player:hover {
  background-color: #fafafa;
}
/* line 20, ../../sass/dangersword.sass */
.player .score {
  text-align: right;
}
/* line 22, ../../sass/dangersword.sass */
.player .score span {
  opacity: 0.3;
}
/* line 24, ../../sass/dangersword.sass */
.player .bio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 27, ../../sass/dangersword.sass */
.player .image {
  width: 42px;
  height: 42px;
  margin-right: 20px;
  background-size: cover;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
@media (min-width: 718px) and (min-height: 718px) {
  /* line 27, ../../sass/dangersword.sass */
  .player .image {
    width: 84px;
    height: 84px;
  }
}
/* line 38, ../../sass/dangersword.sass */
.player.ty .image {
  background-image: url(../images/ty.jpg);
}
/* line 41, ../../sass/dangersword.sass */
.player.dave .image {
  background-image: url(../images/dave.jpg);
}
/* line 44, ../../sass/dangersword.sass */
.player.nathan .image {
  background-image: url(../images/nathan.jpg);
}
/* line 47, ../../sass/dangersword.sass */
.player.jimmy .image {
  background-image: url(../images/jimmy.jpg);
}
/* line 50, ../../sass/dangersword.sass */
.player.michelle .image {
  background-image: url(../images/michelle.jpg);
}
/* line 53, ../../sass/dangersword.sass */
.player.justin .image {
  background-image: url(../images/justin.jpg);
}
/* line 56, ../../sass/dangersword.sass */
.player.aaron .image {
  background-image: url(../images/aaron.jpg);
}
/* line 59, ../../sass/dangersword.sass */
.player.chris .image {
  background-image: url(../images/chris.jpg);
}
/* line 62, ../../sass/dangersword.sass */
.player.jaclyn .image {
  background-image: url(../images/jaclyn.jpg);
}
/* line 65, ../../sass/dangersword.sass */
.player.catherine .image {
  background-image: url(../images/catherine.jpg);
}

/* line 68, ../../sass/dangersword.sass */
.scorecard {
  background-color: rgba(92, 184, 230, 0.95);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: 0.25s all ease-in-out;
          transition: 0.25s all ease-in-out;
}
/* line 77, ../../sass/dangersword.sass */
.scorecard-active .scorecard {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
/* line 79, ../../sass/dangersword.sass */
.scorecard .button {
  min-width: 0;
  display: inline-block;
  margin: 10px;
}
